<div>
  <header>
    <h3>Shopping</h3>
    <nav>
      <a [routerLink]="['/products']" href="">Products</a>
      <a [routerLink]="['/cart']" style="margin:10px;">Cart</a>   
      <a [routerLink]="['/orders']">Order History</a>        
<!--    <li>
          <span [ngSwitch]="checkout">
            <ng-template [ngSwitchCase]="true">
              <button (click)="checkOut()">Checkout</button>
            </ng-template>
          </span>
          <a [routerLink]="['/checkout']" href="">Checkout</a>
        </li>
-->
    </nav>
  </header>
  <main>
    <section>
      <router-outlet></router-outlet>
    </section>
 </main>
</div>
