	<h2>Product List</h2>
	<select [(ngModel)]="filterText">
		<option value="All">All</option>
		<option value="Laptop">laptop</option>
		<option value="iPad">iPad</option>
		<option value="Iron">Iron</option>
		<option value="iRobot">iRobot</option>
	</select>
	<table>
		<tr>
			<th>Product Name</th><th>Price</th><th>Category</th><th>Rating</th><th>Action</th>
		</tr>
		<tr *ngFor="let product of products | filter:filterText">
			<td>{{product.name}}</td><td>{{product.price}}</td><td>{{product.category}}</td>
			<td>{{product.rating}}</td><td><button (click)="addItem(product)">Add to cart</button></td>
		</tr>
	</table>
	<button (click)="showCart()">Show Cart</button>
	<span [ngSwitch]="show">
		<ng-template [ngSwitchCase]="true">
			<button (click)="checkout()">Checkout</button>
		</ng-template>
	</span>
	<hr>
	<span [ngSwitch]="show">
		<ng-template [ngSwitchCase]="true">
			<table>
		<tr>
			<th>Product Name</th><th>Price</th><th>Category</th><th>Rating</th>
		</tr>
		<tr *ngFor="let item of items">
			<td>{{item.name}}</td><td>{{item.price}}</td><td>{{item.category}}</td>
			<td>{{item.rating}}</td>
		</tr>
	</table>
		</ng-template>
	</span>